<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" <%=tr8n_lang_attribute_tag%> <%=tr8n_dir_attribute_tag%> >

<head>
  <title>BookFace</title>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "home_#{tr8n_language_dir}", media: "all" %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= tr8n_scripts_tag %>
</head>
<body>

<%= render '/layouts/navigation' %>

<%= yield %>

<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>

</body>
</html>
